<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Agregar dirección</h4>
          </div>
          <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="email">Usuario</label>
                    <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email" required [disabled]="true">
                  </div>
                  <div class="form-group">
                    <label for="cp">Codigo postal</label>
                    <input type="number" class="form-control" [(ngModel)]="cp" id="cp" name="cp" required>
                  </div>
                  <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <input type="text" class="form-control" id="municipio" name="municipio" required>
                  </div>
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado" required>
                  </div>
              <button type="submit" class="btn btn-primary" (click)="setAdress()">Ingresar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>